<div class="dashboard">
  <h1>Welcome, {{ userName }}!</h1>
  <div class="stats">
    <div class="stat">
      <h2>Balance</h2>
      <p>{{ balance | currency }}</p>
    </div>
    <div class="stat">
      <h2>Recent Transactions</h2>
      <ul>
        <li *ngFor="let transaction of recentTransactions">
          {{ transaction.date }} - {{ transaction.amount | currency }}
        </li>
      </ul>
    </div>
    <div class="stat">
      <h2>Recent Tips</h2>
      <ul>
        <li *ngFor="let tip of recentTips">
          {{ tip.date }} - {{ tip.amount | currency }}
        </li>
      </ul>
    </div>
  </div>
</div>
